
<!-- Default Input -->
<ion-card>
  <ion-card-header>
     <ion-card-title>MIoT</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Trabajo final del curso de desarrollo de aplicaciones multiplataforma.
  </ion-card-content>
</ion-card>


<ion-card>


  <ion-item class="ion-activated">
    <ion-icon name="mail-outline" slot="start"></ion-icon>
    <ion-label>cesaraulcg@gmail.com</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>+51 987135597</ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="logo-github" slot="start"></ion-icon>
    <ion-label>geekmoments</ion-label>
  </ion-item>
</ion-card>
