<!--
<nav>

    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/devices" routerLinkActive="active">Devices</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>

</nav> -->

<!-- Icons -->
<ion-button color="success" routerLink="/home">
  <ion-icon slot="start" name="home-outline"></ion-icon>
  Home
</ion-button>
<ion-button color="success" routerLink="/devices">
  <ion-icon slot="start" name="hardware-chip-outline"></ion-icon>
  Devices
</ion-button>
<ion-button color="success" routerLink="/contact" >
  <ion-icon  slot="start" name="mail-outline"></ion-icon>
  Contact
</ion-button>

