
<!--
<h3 >
  {{ device.name | uppercase}}
  <img [src]="device.icon" [alt]="device.name">
</h3>

<strong>  {{ device.location }} </strong>
<p>{{device.description | slice:0:19}}</p>
<button [routerLink]="['/devices', device.id]" >Ver detalle</button>
-->
<ion-item>
  <ion-thumbnail slot="start">
    <img [src]="device.icon" [alt]="device.name">
  </ion-thumbnail>
  <ion-label>
    <h2>{{ device.name | uppercase}}</h2>
    <p>{{ device.location }}</p>
  </ion-label>
  <ion-button [routerLink]="['/devices', device.id]" fill="outline" slot="end">Más</ion-button>
</ion-item>
